.resume {
    margin-left: 200px;
    background: #000;
    height: 1749px;
    display: flex;
    flex-direction: row;
    .firstColumn {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 33.3%;
        background: #fff;
        .aboutMe {
            height: 35%;
            width: 80%;
            border: 1px solid #d5d5d5;
            transition: all .2s;
            &:hover {
                transform: scale(1.01);
                background: #000;
                opacity:.6;
            }
        }
        .skills {
            height: 60%;
            width: 80%;
            border: 1px solid #d5d5d5;
            &:hover {
                transform: scale(1.01);
                background: #000;
                opacity:.6;
            }
        }
    }
    .secondColumn {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 33.3%;
        background: #fff;
        .jobs {
            height: 46%;
            width: 80%;
            border: 1px solid #d5d5d5;
            &:hover {
                transform: scale(1.01);
                background: #000;
                opacity:.6;
            }
        }
        .projects {
            height: 46%;
            width: 80%;
            border: 1px solid #d5d5d5;
            &:hover {
                transform: scale(1.01);
                background: #000;
                opacity:.6;
            }
        }
    }
    .thrithColumn {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 33.3%;
        background: #fff;
        .languages {
            height: 20%;
            width: 80%;
            border: 1px solid #d5d5d5;
            &:hover {
                transform: scale(1.01);
                background: #000;
                opacity:.6;
            }
        }
        .hobbys {
            height: 25%;
            width: 80%;
            border: 1px solid #d5d5d5;
            &:hover {
                transform: scale(1.01);
                background: #000;
                opacity:.6;
            }
        }
        .other {
            height: 40%;
            width: 80%;
            border: 1px solid #d5d5d5;
            &:hover {
                transform: scale(1.01);
                background: #000;
                opacity:.6;
            }
        }
    }
}